header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 10px;
  margin: -3px -8px 0 -8px;
  padding: 0 8px 5px 8px;
  border-bottom: 2px solid #50002c;
}
.brandName{
font-weight:bolder;
color: purple;
}
.left {
  display: flex;
  align-items: center;
}
.left * {
  margin-right: 25px;
}

.logo {
  height: 65px;
}

.cart {
  display: flex;
  position: relative;
}

.cartCount {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20px;
  height: 20px;
  top: -7px;
  right: -15px;
  border-radius: 25px;
  background-color: purple;
  color: white;
  font-size: 14px;
}

.cartCount div {
  margin: auto;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.right * {
  margin-left: 25px;
}

.right img {
  height: 40px;
  cursor: pointer;
}

.sign-out {
  position: absolute;
  top: 60px;
  right: 30px;
}
.left a {
  color: #444;
  text-decoration: none;
}

.left a.active {
  padding-bottom: 5px;
  border-bottom: 2px solid purple;
}

.left a.button.active {
  padding-bottom: 5px;
  border-bottom: 2px solid purple;
}

.left a:visited {
  color: #444;
}

.left a:hover {
  color: teal;
}